.Container {
  display: flex;
  flex-direction: column;
}

.TabContainer {
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Tab {
  color: blue;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.Dividing {
  margin-left: 10px;
  margin-right: 10px;
  width: 3px;
  background-color: black;
}