body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-image: url("../images/background/napster.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  width: 100%;
}

input,
select {
  margin-left: 10px;
  width: 85%;
  box-sizing: border-box;
  line-height: 20px;
  height: 48px;
  padding: 12px;
  border: 1px solid #adadad;
  border-radius: 2px;
}
button {
  background-color: #3359a1;
  color: white;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;

  font-weight: bold;

  height: 50px;
  border: 1px solid black;
}

table {
  background-color: #3359a1;
}

fieldset {
  font-weight: bold;
  border-radius: 1%;
}
img,
button {
  cursor: pointer;
}

th { 
  text-align: center;
}
button::before {
  padding-left: 5px;
}
.search-button {
  width: 150px;
}

.form-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5%;
  border-radius: 2%;
  width: 40%;
  background-color: whitesmoke;
  opacity: 90%;
}

.form-container button {
  margin-top: 15px;
}
.music-listing-table-container {
  margin: 25px;
}
.music-listing-table {
  width: 100%;
  opacity: 90%;
}
.music-listing-table thead {
  background-color: #3359a1;
  color: whitesmoke;
  border: none;
  line-height: 35px;
}
.music-listing-table tbody tr:nth-child(odd) {
  background-color: #dfdbdb;
  color: black;
}
.music-listing-table tbody tr:nth-child(even) {
  background-color: whitesmoke;
  color: black;
}
.music-listing-table td {
  padding: 0;
}

.album-listing-container table {
  background-color: none;
  margin-right: auto;
  margin-left: auto;
}

.favorite-albulm-item {
  width: 188px;
  height: 188px;
}

.hide-search-results {
  visibility: hidden;
}
.show-search-results {
  visibility: visible;
}

.fa-download:before {
  padding-right: 5px;
}
