body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
input {
  height: 25px;
}
button {
  background-color: #1e72f4;
  color: white;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

table {
  background-color: #e8e5e0;
}

fieldset {
  font-weight: bold;
  border-radius: 1%;
}

.search-button {
  width: 150px;
}

.form-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
  border-radius: 2%;
  width: 35%;
  background-color: #e8e5e0;
}
.music-listing-table-container {
  margin: 25px;
}
.music-listing-table {
  width: 100%;
}
.music-listing-table thead {
  background-color: #1e72f4;
  line-height: 35px;
}
.music-listing-table tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
  color: black;
}

.album-listing-container table {
  background-color: none;
  margin-right: auto;
  margin-left: auto;
}
